*{
  box-sizing: border-box;
  font-family: sans-serif;
}
.shop{
  display: flex;
  max-width: 1110px;
  margin: 50px auto;
  flex-wrap: wrap;
  gap:30px;
}
.shop>div{
  width: calc(50% - 15px);
}

#orders-wrap{
  max-width: 1110px;
  margin: 0 auto;
}

#categories {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

h2{
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap:20px;
  flex-wrap:wrap;
}

.category, .product {
  flex-grow: 1;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #ddd;
  text-align: center;
  padding: 10px;
}

.product {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 10px);
}


.category:hover {
  background-color: #f4f4f4;
}

.product:hover {
  background-color: #f4f4f4;
}

#product-info:not(:empty) {
  padding-left: 30px;
  border-left: 1px solid #ddd;
}

.product-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-head span{
  color: #007bff;
  font-weight: 600;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
}

button:hover {
  background-color: #0056b3;
}

span.delete {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(./img/delete.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor:pointer;
}

table{
  width: 100%;
  border-collapse: collapse;
}
tr.order-item td:first-child{
  cursor: pointer;
  color: #007bff;
}

tr.order-item td {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
th {
  text-align: left;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ddd;
}

div#orders-wrap {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  align-items: flex-start;
}

#orders{
  width: calc(50% - 15px);
}

#order-info{
  width: calc(50% - 15px);
}

div#orders-head {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width:767px){
  .shop>div{
    width: 100%;
  }
  .product{
    height: 100px;
  }
  #product-info:not(:empty) {
    padding-left: 0;
    padding-top: 30px;
    border-left: none;
    border-top: 1px solid #ddd;
  }
}