header {
  padding: 10px 0;
  background-color:#101D29;
}
header img {
  max-width: 100px;
}
.header__inner{
  display: flex;
  align-items:center;
  justify-content: space-between;
}

nav a{
  display: inline-block;
  margin-left: 30px;
  color:#fff;
  font-size: 18px;
  text-decoration: none;
}
nav a:hover{
  color: #61dafb;
}