*{
  box-sizing: border-box;
}
.input-row{
  display: flex;
  align-items: center;
  gap:30px;
}

#textField{
  height: 30px;
  padding: 10px;
}
#infoDiv {
  display: none;
  background-color: aqua;
  border:1px solid aqua;
  height: 30px;
  width: 30px;
}